@model SportAttendanceSystem.Models.Sport

@{
    ViewBag.Title = "Delete";
}

<div class="form-horizontal">
    <h2>Delete a Sport Entry</h2>
    <hr />
    <div class="form-group row">
        @Html.LabelFor(model => model.SportName, "Sport Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SportName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.DayOfWeek, "Day Of Week", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DayOfWeek, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Hour, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Hour, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Minute, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Minute, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row justify-content-sm-between">
            <div class="col-md-2">
                @Html.ActionLink("Cancel", "Index", new { idTeacher = Session["idUser"] })
            </div>
            <div class="col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
