@model List<SportAttendanceSystem.ViewModels.StudentPromotionViewModel>

@{
    ViewBag.Title = "PrintPdfTemplate";
}

<div class="row" style="justify-content: space-between; padding-top: 8px">
    <h1>Promotion Status</h1>
    <div>@Html.ActionLink("Print Students Report", "PrintStudentPromotionReport", new { teacherId = Session["idUser"] }, new { @class = "btn btn-secondary" })</div>
</div>

@{
    foreach (var sport in ViewBag.SportNames)
    {
        <br />
        <hr />
        <h2>@sport</h2>

        <table class="table table-bordered">
            <tr>
                <th>
                    <h4>First name</h4>
                </th>
                <th>
                    <h4>Last Name</h4>
                </th>
                <th>
                    <h4>Email</h4>
                </th>
                <th>
                    <h4>Attendances</h4>
                </th>
                <th>
                    <h4>Promoted</h4>
                </th>
            </tr>

            @for (int item = 0; item < Model.Count; item++)
            {
                if (Model[item].SportName.Equals(sport))
                {
                    <tr>

                        <td>@Html.DisplayFor(lastName => lastName[item].Student.LastName)</td>


                        <td>@Html.DisplayFor(firstName => firstName[item].Student.FirstName)</td>


                        <td>@Html.DisplayFor(email => email[item].Student.Email)</td>


                        <td>@Html.DisplayFor(attendances => attendances[item].Attendances)</td>


                        <td>@Html.DisplayFor(isPromoted => isPromoted[item].IsPromoted)</td>

                    </tr>
                }
            }

        </table>
    }
}