@model SportAttendanceSystem.Models.User

@{
    ViewBag.Title = "Details";
}

<div class="form-horizontal">
    <h2>Personal Details</h2>
    <hr />
    <div class="form-group row">
        @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Email, "Email Address", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row justify-content-sm-between">
        <div class="col-md-2">
            @Html.ActionLink("Edit", "Edit", new { id = Model.IdUser }, new { @class = "btn btn-info" })
        </div>
    </div>
</div>
