@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script>
        // script used for shadow effect on cards
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            $(".card").hover(
                function () {
                    $(this).addClass('shadow-lg').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-lg');
                }
            );
            // document ready
        });
    </script>
}

@*This row has the functions that will be heavily used by the teacher*@
<div class="jumbotron bg-transparent text-center">
    <img class="img-responsive" src="~/Content/Images/sportAttendanceLogo2.png" />
</div>

<div class="row">
    <div class="card col m-1">
        <div class="card-body">
            <h2 class="card-title">My Schedule</h2>
            <p class="card-text">See your schedule to easily manage your work</p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-success" href="@Url.Action("Index", "Sport", new { idTeacher = Session["idUser"]})">Go &raquo;</a>
        </div>
    </div>
    <div class="card col m-1">
        <div class="card-body">
            <h2 class="card-title">Add Presence</h2>
            <p class="card-text">Add presence to a student enrolled on a specific hour</p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-success" href="@Url.Action("SportsOfTeacher", "Sport", new { idTeacher = Session["idUser"]})">Go &raquo;</a>
        </div>
    </div>
    <div class="card col m-1">
        <div class="card-body">
            <h2 class="card-title">Add Sport</h2>
            <p class="card-text">Add a new sport that you are going to teach</p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-success" href='@Url.Action("Create", "Sport")'>Go &raquo;</a>
        </div>
    </div>
</div>

@*This row has the functions that will be more seldom used by the teacher*@
<div class="row">
    <div class="card col m-1">
        <div class="card-body">
            <h2 class="card-title">Personal Details</h2>
            <p class="card-text">Change your personal details</p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-success" href="@Url.Action("Details", "User", new { id = Session["idUser"] })">Go &raquo;</a>
        </div>
    </div>
    <div class="card col m-1">
        <div class="card-body">
            <h2 class="card-title">Manage Students</h2>
            <p class="card-text">Manage the existing students or add someone new</p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-success" href="@Url.Action("Create", "Student")">Go &raquo;</a>
        </div>
    </div>
    <div class="card col m-1">
        <div class="card-body">
            <h2 class="card-title">Student Promotion</h2>
            <p class="card-text">The current student promotion status</p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-success" href="@Url.Action("PromotionStatus", "Attendance", new { teacherID = Session["idUser"] })">Go &raquo;</a>
        </div>
    </div>
</div>


<!-- <p class="lead">Sport Attendance Manager is the new system which helps teachers to easily keep track of student's attendance at sport.</p> -->
